[tool.black]
line-length = 79
exclude = '''
/(
    \.git
  | __pycache__
  | venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = [
    "tests",
]
